@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

// colors
$popupColor: #FFFFFF;
$rectangleColor: #C24DFE;

// sizes
$widthPopup: 864px;
$heightPopup: 502px; 

// borders
$borderRadiusPopup: 8px;

//fonts
$formFont: Roboto;